.container-fluid{
    min-width: 400px;
}
a {
    text-decoration: none; 
    color: gray;
}
.leftColumn{
    float: left;
    background-color: black;
    height: 100vh;
    min-width: 150px;
}
.musicOptions{
    float: left;
    background-color: gray;
    height: 100vh;
    min-width: 250px;
}
#logoSpotify{
    width: 200px;
    min-width: 75px;
}
.cookies2:hover{
    text-decoration-line:underline;
}
#btnIdioma{
    max-width: 300px;
}
.btn-primary-outline {
    color: white;
    background-color: transparent;
    border-color: gray;
}
.btn-primary-outline:hover {
    width: 100%;
    height: 110%;
    color: white;
    background-color: transparent;
    border-color: white;
}
#btnRegistrarse:hover {
    height: 50px;
    width: 110%;
}
#footbar{
    background: linear-gradient(to right, rgb(148, 35, 189), rgb(0, 134, 187));
}
ul#firstList li a:hover, ul#firstList li a:active {
    color: white !important;
}

ul#firstList li.active a {
    color: white !important;
}