.container-fluid{
    min-width: 400px;
}
a {
    text-decoration: none; 
    color: rgb(104, 104, 104);
}
.leftColumn{
    float: left;
    background-color: black;
    height: 100vh;
    min-width: 150px;
}
.musicOptions{
    float: left;
    background-color: rgb(71, 71, 71);
    height: 100vh;
    min-width: 250px;
}
#logoSpotify{
    width: 200px;
    min-width: 75px;
}
.cookies2:hover{
    text-decoration-line:underline;
}
.underline1{
    color: white;
}
.underline2{
    color: #141414;
}
.btnPlay{
    position: absolute;
}
.underline1:hover, .underline2:hover{
    text-decoration-line:underline;
}
#btnIdioma{
    max-width: 300px;
}
.btn-primary-outline {
    color: white;
    background-color: transparent;
    border-color: gray;
}
.btn-primary-outline:hover {
    width: 100%;
    height: 110%;
    color: white;
    background-color: transparent;
    border-color: white;
}
#btnRegistrarse:hover {
    height: 50px;
    width: 110%;
}
#btnIniciarSesion{
    margin-bottom: 4px;
}
#btnIniciarSesion:hover {
    height: 40px;
    width: 130px;
}
#footbar{
    background: linear-gradient(to right, rgb(148, 35, 189), rgb(0, 134, 187));
    height: 90px;
}
#topBar{
    background-color: rgb(41, 41, 41);
    height: 50px;
    min-height: 50px;
}
.topBarText{
    color: gray;
}
.topBarText:hover{
    color: white;
    font-size: 110%;
}
.topBar1{
    min-width: 105px;
    max-width: 105px;
}
.topBar2{
    min-width: 327px;
}
ul#firstList li a:hover, ul#firstList li a:active {
    color: white !important;
}

ul#firstList li.active a {
    color: white !important;
}
@media (max-width: 845px) {
    .topText {
      display: none;
    }
    .dropdown{
        display: block;
    }
}

@media (min-width: 846px) {
    .topText {
      display: block;
    }
    .dropdown{
        display: none;
    }
}

.card{
    max-width: 230px;
    min-height: 320px;
    max-height: 350px;
    min-width: 164px;
}
.card-img-top{
    max-width: 215px;
    max-height: 215px;
    min-width: 100px;
    min-height: 100px;
}
.listItem2{
    list-style-type: none;
}
.listItem2:hover{
    text-decoration-line: underline;

}
.btnArrow{
    visibility: hidden;
    position: absolute;
    top: 55%;
    right: 10%;
    opacity: 0;
    transition: all 70ms ease-out;
}
.card:hover .btnArrow{
    visibility: visible;
    top: 50%;
    opacity: 1;
    transition: all 70ms ease-in;
}
.container-fluid{
    margin-bottom: 89px;
}