.container-fluid{
    min-width: 400px;
}
a {
    text-decoration: none; 
    color: gray;
}
.leftColumn{
    float: left;
    background-color: black;
    height: 100vh;
    min-width: 100px;
}
.musicOptions{
    float: left;
    background-color: gray;
    height: 100vh;
    min-width: 300px;
}
#logoSpotify{
    width: 200px;
    padding-top: 10px;
    min-width: 75px;
}

#firstList{
    padding-top: 20px;
    padding-bottom: 50px;
}

ul li a:hover, ul li a:active {
    color: white !important;
}

ul li.active a {
    color: white !important;
}